* {
	box-sizing: border-box;
  padding: 0;
 }


body {
  background: linear-gradient(45deg, #83808070, #8079801c);

}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111111d1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.title {
	text-align: center;	
}

.options {
    text-align: center;
    padding: 30px;
}


.nosotros {
  text-align: center;
 padding: 30px;
}

.mapa {
  margin: 25px 20px;
  padding: 5px;
}

.redes {
  text-align: center;
  padding: 25px;
}

footer {
   clear: both;
   padding: 20px 10px 20px;
   margin: auto; 
   left: 0;
   width: 100%;
   background-color: #212529;
   color: darkgrey;
   text-align: center;
}

@media (max-width: 700px) {
 
    .options {
        padding: 20px;
        white-space: pre-line;
    }

    footer {
      position: fixed;
    }

 }   